/* ---------------------GENERAL----------------- */

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Poiret One',
    cursive;
}

section {
    padding-top: 8vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* margin: 4rem 0; */
}

    h2 {
        font-size: 8vh;
        margin-bottom: 4vh;
    }

    h2 span {
        color: #9c1e1e
    }

    p {
        font-size: 2vh;
    }

/* ---------------------NAV----------------- */

nav {
    position: sticky;
    top: 0;
    background-color: #9c1e1e
}

nav .container{
    font-size: 2.3vh;
    height: 8vh;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav a {
    text-decoration: none;
    margin-left: 20px;
}

nav a:visited {
    color: #EEE;
}

/* ---------------------HEADER----------------- */

header {
    margin-top: 8vh;
}

header h1 {
    font-size: 16vh;
    text-align: right;
}

header span {
    font-size: 22vh;
    color: #9c1e1e
}

header .main-wallpaper {
    margin-top: 5vh;
    display: inline-block;
    width: 100%;
}

/* ---------------------MEMBERS----------------- */

#members {
}

#members h3 {
    font-size: 5vh;
    color: #9c1e1e;
    margin-bottom: 2rem;
}


#members .member-container img {
    align-content: center;
    width: 100%;
}

#members .member-container div {
    width: 45%;
}



#members .member-container {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
}

