/* ---------------------GENERAL----------------- */

html {
    font-size: 16px;
}

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Poiret One',
    cursive;
}


section {
    padding-top: 4rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 5rem;
    margin-bottom: 4rem;
}

h2 span {
    color: #9c1e1e
}

p{
    font-size: 1.3rem;
}

#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 3s ease;
    z-index: 1;
}

#top i {
    color: #FFF;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#top:hover i {
    color: #FFF;
    top: 5px;
}

/* ---------------------DESKTOP MENU----------------- */

.menu-principal {
    z-index: 1;
    top: 0;
    background-color: #9c1e1e
}

.menu-principal .container{
    width: 90%;
    font-size: 1.3rem;
    height: 5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-principal a {
    color: #EEE;
    text-decoration: none;
}

.menu-principal img {
    height: 75%;
}

/* ---------------------MOBILE MENU----------------- */

.mobile-menu {
    display: none;
    top: 0;
    background-color: #9c1e1e;
    color: white;
    margin-bottom: 3rem;
}


.nav-logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50px;
    width: 100%;
    align-items: center;
}


.nav-hamburguesa::before {
    font-size: 2rem;
    content: '☰';
    margin-left: 2rem;
}

.nav-links {
    z-index: 1;
    width: 100%;
    background-color: #9c1e1e;
    display: none;
    text-align: center;
    font-size: 1.5rem;
}

.nav-links li {
    margin: 20px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

#hamburguesa {
    display: none;
}

#hamburguesa:checked+.nav-links {
    display: block;
}



/* ---------------------HEADER----------------- */

header {
    margin-top: 50px;
}

header h1 {
    font-size: 9rem;
    text-align: right;
}

header span {
    font-size: 13rem;
    color: #9c1e1e;
}

header .main-wallpaper {
    margin-top: 3rem;
    display: inline-block;
    width: 100%;
}



/* ---------------------MEMBERS----------------- */

#members h3 {
    font-size: 3rem;
    color: #222831;
    margin-bottom: 2rem;
}

#members p {
    line-height: 1.7rem;
}


#members .member-container img {
    align-content: center;
    width: 100%;
}

#members .member-container div {
    width: 45%;
}

#members .member-container {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-color: #9c1e1e;
    padding: 30px;
    border-radius: 20px;
}

/* ---------------------HISTORY----------------- */

#history {
    background-color: #9c1e1e;
    transform: skew(0, -5deg);
    margin-top: 13rem;
}

#history h2 {
    transform: skew(0, 5deg);
    margin-top: 4rem;
}

#history h2 span {
    color: #222831;
}

#history .history-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transform: skew(0, 5deg);
}

#history .history-container img {
    width: 30%;
}

#history .history-container p {
    line-height: 1.8rem;
    width: 70%;
    margin-bottom: 7rem;
}

/* --------------------- DISCOGRAPHY ----------------- */

#discography {
    margin-top: 2rem;
}

#discography h2 {
    margin-top: 4rem;
}

#discography .discography-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

#discography .discography-container div {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    box-sizing: border-box;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    width: 45%;
}

#discography .discography-container div img {
    border-radius: 5%;
    margin-bottom: 50px;
    width: 60%;
}

#discography .discography-container h3 {
    font-size: 2rem;
    margin-bottom: 50px;
}

#discography .discography-container iframe {
    display: none;
}

/* --------------------- VIDEOS ----------------- */


#videos .videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#videos .videos-container iframe {
    margin: 3rem 0;
}

#videos .videos-container div {
    width: 100%;
    background-color: #9c1e1e;
    text-align: center;
}

#videos .videos-container .segundo {
   clip-path: polygon(50% 15%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 85%, 0 100%, 0% 70%, 0% 35%, 0 0);
   padding: 150px 0;
}

#videos .videos-container .primero {
    clip-path: polygon(52% 0, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 85%, 0 100%, 0% 70%, 0% 35%, 0 0);
    padding: 50px 0 150px;
}

#videos h2 {
    margin-left: 10%;
    text-align: left;
}

#videos h2 span {
    color: #222831;
}


/* --------------------- FOOTER ----------------- */

footer .footer-nav {
    background-color: #9c1e1e;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
}

footer .footer-nav p {
    font-size: 1.3rem;
}

footer .right-side {
    display: flex;
    align-items: center;
}

footer .footer-nav a {
    color: #EEEEEE;
    margin: 0 1rem;
}

/* --------------------- RESPONSIVE MEDIUM SCREEN ----------------- */

@media screen and (min-width: 768px) and (max-width: 1260px) {

    html {
        font-size: 14px;
    }
    .container {
        width: 90%;
    }
}

/* --------------------- RESPONSIVE MOBILE ----------------- */

@media (max-width: 768px) {

    /* ---------------------GENERAL MOBILE ----------------- */

    html {
        font-size: 12px;
    }

    .container {
        display: block;
        width: 95%;
    }

     .menu-principal {
         display: none;
     }

     .mobile-menu {
         display: block;
     }

     h2 {
         font-size: 3.5rem;
     }

     /* ---------------------HEADER MOBILE ----------------- */

     header {
         margin-top: 0px;
     }

     header h1 {
         font-size: 5rem;
     }

     header span {
         font-size: 9rem;
     }

     /* --------------------- MEMBERS MOBILE ----------------- */ 
     

     #members .member-container h3 {
        margin-top: 2rem;
        font-size: 2rem;
     }

     #members .member-container div {
         width: 90%;
     }

     #members .member-container {
         flex-direction: column;
         width: 90%;
         padding: 30px 10px;
         font-size: 1.3rem;
     }

     /* --------------------- DISCOGRAPHY ----------------- */


     #discography .discography-container {
         flex-direction: column;
         margin-top: 3rem;
         align-items: center;
     }

     #discography .discography-container div {
         width: 100%;
     }

     #discography .discography-container div img {
         border-radius: 5%;
         margin-bottom: 2rem;
         width: 60%;
     }

     #discography .discography-container h3 {
         font-size: 2rem;
         margin-bottom: 50px;
     }


}