/* ---------------------GENERAL----------------- */

@font-face {
    font-family: 'PinkFloydFont';
    src: url('./floyd.ttf') format('truetype');
}

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Poiret One',
    cursive;
}

section {
    padding-top: 8vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* margin: 4rem 0; */
}

h2 {
    font-size: 8vh;
    margin-bottom: 4vh;
}

h2 span {
    color: #9c1e1e
}

p {
    font-size: 18px;
}

/* ---------------------NAV----------------- */

.menu-principal {
    position: static;
    top: 0;
    background-color: #9c1e1e
}

.menu-principal .container{
    width: 90%;
    font-size: 1.3rem;
    height: 5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu-principal a {
    color: #EEE;
    text-decoration: none;
}

.menu-principal img {
    height: 75%;
}


/* ---------------------HEADER----------------- */

header {
    margin-top: 8vh;
}

header h1 {
    font-size: 16vh;
    text-align: right;
}

header span {
    font-size: 22vh;
    color: #9c1e1e;
}

header .main-wallpaper {
    margin-top: 5vh;
    display: inline-block;
    width: 100%;
}



/* ---------------------MEMBERS----------------- */

#members {
}

#members h3 {
    font-size: 5vh;
    color: #222831;
    margin-bottom: 2rem;
}

#members p {
    line-height: 1.5rem;
}


#members .member-container img {
    align-content: center;
    width: 100%;
}

#members .member-container div {
    width: 45%;
}

#members .member-container {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-color: #9c1e1e;
    padding: 30px;
    border-radius: 20px;
}

/* ---------------------HISTORY----------------- */

#history {
    background-color: #9c1e1e;
    transform: skew(0, -5deg);
    margin-top: 13rem;
}

#history h2 {
    transform: skew(0, 5deg);
    margin-top: 4rem;
}

#history h2 span {
    color: #222831;
}

#history .history-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transform: skew(0, 5deg);
}

#history .history-container img {
    width: 30%;
}

#history .history-container p {
    line-height: 1.8rem;
    width: 70%;
    margin-bottom: 7rem;
}

/* --------------------- DISCOGRAPHY ----------------- */

#discography {
    margin-top: 2rem;
}

#discography h2 {
    margin-top: 4rem;
}

#discography .discography-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

#discography .discography-container div {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    box-sizing: border-box;
    flex-direction: column;
    align-content: space-between;
    width: 45%;
}

#discography .discography-container div img {
    border-radius: 5%;
    margin-bottom: 50px;
    width: 60%;
}

#discography .discography-container h3 {
    font-size: 2vw;
    margin-bottom: 50px;
}

#discography .discography-container iframe {
    display: none;
}

/* --------------------- VIDEOS ----------------- */


#videos .videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#videos .videos-container iframe {
    margin: 3rem 0;
}

#videos .videos-container div {
    width: 100%;
    background-color: #9c1e1e;
    text-align: center;
}

#videos .videos-container .segundo {
   clip-path: polygon(50% 15%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 85%, 0 100%, 0% 70%, 0% 35%, 0 0);
   padding: 150px 0;
}

#videos .videos-container .primero {
    clip-path: polygon(52% 0, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 85%, 0 100%, 0% 70%, 0% 35%, 0 0);
    padding: 50px 0 150px;
}

#videos h2 {
    margin-left: 10%;
    text-align: left;
}

#videos h2 span {
    color: #222831;
}


/* --------------------- FOOTER ----------------- */

footer .footer-nav {
    background-color: #9c1e1e;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
}

footer .footer-nav p {
    font-size: 1.3rem;
}

footer .right-side {
    display: flex;
    align-items: center;
}

footer .footer-nav a {
    color: #EEEEEE;
    margin: 0 1rem;
}

/* --------------------- RESPONSIVE ----------------- */